<div class="center-row">
	<img class="car-logo" src="assets/vw_mushroom.png">
	<div class="announcement">
		<h2>MoorGoo Car Platform</h2>
		<h3>The cheapest cars from graduating students</h3>
	</div>
	<br/>
	
	<div class="car-card" style="cursor:pointer;">
		<div class="car-tag-block">
            <div class="car-title">
            	2009 BMW 328i Convertible
            </div>
            <img class="car-profile-photo" src="assets/lisi-car1.png"></img>
            <div class="general-info">
            	<h4>Click to view detail</h4>
            	<ul>
            		<li>$23,999</li>
            		<li>50,000 miles</li>
            		<br>
            		<li>UCSD</li>
            		<li>2015 June</li>
            		<li>(858)2429102</li>
            	</ul>
            </div>
    	</div>
    	<div class="car-detail" style="display: none;">
    		<div class="detail-info">
            	<h4>Click to hide detail</h4>
            	<ul>
            		<li>Seller's Expected Price: $23,999</li>
            		<li>Moorgoo's Suggest Price: $22,999</li>
            		<li>Mileage: 50,000 mi</li>
            		<li>Navigation system: Available</li>
            		<li>Any accident: No</li>
            		<li>School: UCSD</li>
            		<li>Selling Time: 2015 June</li>
            		<li>Contact: (858)2429102</li>
            		<li>Seller Comments: This car is well-maintained and always kept in the garage. I will graduate before June 2015, so this car must be sold.</li>
            	</ul>
            </div>
        	<img src="assets/lisi-car1.png"></img>
        	<img src="assets/lisi-car2.png"></img>
        </div>
	</div>

	<br>

	
	<div class="car-card" style="cursor:pointer;">
        <div class="car-tag-block">
            <div class="car-title">
                2009 BMW 328i Convertible
            </div>
            <img class="car-profile-photo" src="assets/lisi-car1.png"></img>
            <div class="general-info">
                <h4>Click to view detail</h4>
                <ul>
                    <li>$23,999</li>
                    <li>50,000 miles</li>
                    <br>
                    <li>UCSD</li>
                    <li>2015 June</li>
                    <li>(858)2429102</li>
                </ul>
            </div>
        </div>
        <div class="car-detail" style="display: none;">
            <div class="detail-info">
                <h4>Click to hide detail</h4>
                <ul>
                    <li>Seller's Expected Price: $23,999</li>
                    <li>Moorgoo's Suggest Price: $22,999</li>
                    <li>Mileage: 50,000 mi</li>
                    <li>Navigation system: Available</li>
                    <li>Any accident: No</li>
                    <li>School: UCSD</li>
                    <li>Selling Time: 2015 June</li>
                    <li>Contact: (858)2429102</li>
                    <li>Seller Comments: This car is well-maintained and always kept in the garage. I will graduate before June 2015, so this car must be sold.</li>
                </ul>
            </div>
            <img src="assets/lisi-car1.png"></img>
            <img src="assets/lisi-car2.png"></img>
        </div>
    </div>








</div>