<div>
  <style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
  .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
  </style>
  <table class="tg">
    <tr>
      <th class="tg-031e">ID</th>
      <th class="tg-031e">ISBN</th>
      <th class="tg-031e">Book Name</th>
      <th class="tg-031e">Author</th>
    </tr>
    <tr>
      <td class="tg-031e">1</td>
      <td class="tg-031e">9780763748920</td>
      <td class="tg-031e">Essentials of Discrete Mathematics</td>
      <td class="tg-031e">David J Hunter</td>
    </tr>
    <tr>
      <td class="tg-031e">2</td>
      <td class="tg-031e">9780205781713</td>
      <td class="tg-031e">The Writer's World: Essays</td>
      <td class="tg-031e">Gaetz, Lynne</td>
    </tr>
    <tr>
      <td class="tg-031e">3</td>
      <td class="tg-031e">9781412936927</td>
      <td class="tg-031e">Fundamentals of Cognitive Psychology</td>
      <td class="tg-031e">Ronald T. Kellogg</td>
    </tr>
    <tr>
      <td class="tg-031e">4</td>
      <td class="tg-031e">9780073371665</td>
      <td class="tg-031e">College Writing Skills with Readings</td>
      <td class="tg-031e">Langan, John</td>
    </tr>
    <tr>
      <td class="tg-031e">5</td>
      <td class="tg-031e">9780495906339</td>
      <td class="tg-031e">The Least You Should Know about English</td>
      <td class="tg-031e">Paige Wilson, Teresa Ferster Glazier</td>
    </tr>
    <tr>
      <td class="tg-031e">6</td>
      <td class="tg-031e">9780136001584</td>
      <td class="tg-031e">Logic and computer design Fundamentals</td>
      <td class="tg-031e">Mano, Kime</td>
    </tr>
    <tr>
      <td class="tg-031e">7</td>
      <td class="tg-031e">9780131424159</td>
      <td class="tg-031e">Java: An Eventful Approach</td>
      <td class="tg-031e">Kim Bruce, Andrea Danyluk, Thomas Murtagh</td>
    </tr>
    <tr>
      <td class="tg-031e">8</td>
      <td class="tg-031e">9780495906261</td>
      <td class="tg-031e">The Writer's Response</td>
      <td class="tg-031e">McDonald, Stephen,  Salomone, William</td>
    </tr>
    <tr>
      <td class="tg-031e">9</td>
      <td class="tg-031e">9780073371689</td>
      <td class="tg-031e">English Skills with Readings</td>
      <td class="tg-031e">John Langan</td>
    </tr>
    <tr>
      <td class="tg-031e">10</td>
      <td class="tg-031e">9780132333313</td>
      <td class="tg-031e">Understanding and Using English Grammar</td>
      <td class="tg-031e">Stacy A Hagen, Betty Schrampfer Azar</td>
    </tr>
    <tr>
      <td class="tg-031e">11</td>
      <td class="tg-031e">9781429210799</td>
      <td class="tg-031e">Multivariable Calculus: Early Transcendentals</td>
      <td class="tg-031e">Rogawski, Jon</td>
    </tr>
    <tr>
      <td class="tg-031e">12</td>
      <td class="tg-031e">9781111351977</td>
      <td class="tg-031e">Writing Clearly: Grammar for Editing</td>
      <td class="tg-031e">Janet Lane, Ellen Lange</td>
    </tr>
    <tr>
      <td class="tg-031e">13</td>
      <td class="tg-031e">9780142002100</td>
      <td class="tg-031e">American Colonies: The Settling of North America</td>
      <td class="tg-031e">Alan Taylor</td>
    </tr>
    <tr>
      <td class="tg-031e">14</td>
      <td class="tg-031e">9780520261051</td>
      <td class="tg-031e">Capturing Sound</td>
      <td class="tg-031e">Mark Katz</td>
    </tr>
    <tr>
      <td class="tg-031e">15</td>
      <td class="tg-031e">9780131500907</td>
      <td class="tg-031e">The Essentials of English: A Writer's Handbook</td>
      <td class="tg-031e">Ann Hogue</td>
    </tr>
    <tr>
      <td class="tg-031e">16</td>
      <td class="tg-031e"></td>
      <td class="tg-031e">ECE 45 Reserve</td>
      <td class="tg-031e"></td>
    </tr>
    <tr>
      <td class="tg-031e">17</td>
      <td class="tg-031e">9781429212359</td>
      <td class="tg-031e">Calculus Early Transcendentals</td>
      <td class="tg-031e">John Rogawski</td>
    </tr>
    <tr>
      <td class="tg-031e">18</td>
      <td class="tg-031e">9781596950788</td>
      <td class="tg-031e">Webster's American English Thesaurus</td>
      <td class="tg-031e">Inc. Merriam-Webster</td>
    </tr>
    <tr>
      <td class="tg-031e">19</td>
      <td class="tg-031e">9781596950771</td>
      <td class="tg-031e">Webster's American English Dictionary</td>
      <td class="tg-031e">Inc. Merriam-Webster</td>
    </tr>
    <tr>
      <td class="tg-031e">20</td>
      <td class="tg-031e">9780132333313</td>
      <td class="tg-031e">Understanding and Using English Grammar</td>
      <td class="tg-031e">Stacy A Hagen, Betty Schrampfer Azar</td>
    </tr>
    <tr>
      <td class="tg-031e">21</td>
      <td class="tg-031e">9780536173393</td>
      <td class="tg-031e">Student Solutions Manual for Physics for Scientists and Engineers</td>
      <td class="tg-031e">Richard Wolfson</td>
    </tr>
    <tr>
      <td class="tg-031e">22</td>
      <td class="tg-031e">9780536170262</td>
      <td class="tg-031e">Physics for Scientists and Engineers</td>
      <td class="tg-031e">Richard Wolfson</td>
    </tr>
    <tr>
      <td class="tg-031e">23</td>
      <td class="tg-031e">9780199579334</td>
      <td class="tg-031e">Color Dictionary &amp; Thesaurus</td>
      <td class="tg-031e">Charlotte Livingstone</td>
    </tr>
    <tr>
      <td class="tg-031e">24</td>
      <td class="tg-031e">9780100725355</td>
      <td class="tg-031e">MCWP 50 Voices of America: Tales From the Tower of Babel</td>
      <td class="tg-031e">Lenore McMCrory, Zulema Diaz, Gabriela Cazares</td>
    </tr>
    <tr>
      <td class="tg-031e">25</td>
      <td class="tg-031e"></td>
      <td class="tg-031e">EDS 117/SOCI 117 Language, Culture &amp; Education</td>
      <td class="tg-031e">Luz Chung</td>
    </tr>
    <tr>
      <td class="tg-031e">26</td>
      <td class="tg-031e">9780140623512</td>
      <td class="tg-031e">Crime and Punishment</td>
      <td class="tg-031e">Dostoyevsky, Fyodor</td>
    </tr>
    <tr>
      <td class="tg-031e">27</td>
      <td class="tg-031e">9780143120889</td>
      <td class="tg-031e">Battle Hymn of the Tiger Mother</td>
      <td class="tg-031e">Amy Chua</td>
    </tr>
    <tr>
      <td class="tg-031e">28</td>
      <td class="tg-031e">9780133471052</td>
      <td class="tg-031e">Fundamentals of English Grammar</td>
      <td class="tg-031e">Betty Schrampfer Azar</td>
    </tr>
    <tr>
      <td class="tg-031e">29</td>
      <td class="tg-031e">9780764137426</td>
      <td class="tg-031e">501 Latin Verbs: Fully Conjugated in All the Tenses in a New Easy-to-learn Format Alphabetically Arranged</td>
      <td class="tg-031e">Richard E. Prior, Joseph Wohlberg</td>
    </tr>
    <tr>
      <td class="tg-031e">30</td>
      <td class="tg-031e">131830376</td>
      <td class="tg-031e">Essentials of English</td>
      <td class="tg-031e">Lida Baker</td>
    </tr>
    <tr>
      <td class="tg-031e">31</td>
      <td class="tg-031e">131500902</td>
      <td class="tg-031e">The Essentials of English: A Writer's Handbook</td>
      <td class="tg-031e">Ann Hogue</td>
    </tr>
    <tr>
      <td class="tg-031e">32</td>
      <td class="tg-031e">9780393071030</td>
      <td class="tg-031e">Plan B 4.0: Mobilizing to Save Civilization</td>
      <td class="tg-031e">Lester Russell Brown</td>
    </tr>
    <tr>
      <td class="tg-031e">33</td>
      <td class="tg-031e">471622907</td>
      <td class="tg-031e">Aims and Methods of Vegetation Ecology</td>
      <td class="tg-031e">John Wiley &amp; Sons</td>
    </tr>
    <tr>
      <td class="tg-031e">34</td>
      <td class="tg-031e">9780321629920</td>
      <td class="tg-031e">Study Guide for Campbell Biology</td>
      <td class="tg-031e">Jane B. Reece &amp; Lisa A. Urry.......</td>
    </tr>
    <tr>
      <td class="tg-031e">35</td>
      <td class="tg-031e">9781118303498</td>
      <td class="tg-031e">Fundamentals of Physics (University of California San Diego)</td>
      <td class="tg-031e">Halliday, Resnick, Walker</td>
    </tr>
    <tr>
      <td class="tg-031e">36</td>
      <td class="tg-031e">9781429203531</td>
      <td class="tg-031e">Genetics Solutions Manual [Book]</td>
      <td class="tg-031e">Jung H. Choi, Mark E. McCallum</td>
    </tr>
    <tr>
      <td class="tg-031e">37</td>
      <td class="tg-031e">9780764144622</td>
      <td class="tg-031e">E‑Z Psychology</td>
      <td class="tg-031e">Nancy Melucci</td>
    </tr>
    <tr>
      <td class="tg-031e">38</td>
      <td class="tg-031e">9781429211451</td>
      <td class="tg-031e">Genetics: A Conceptual Approach</td>
      <td class="tg-031e">Benjamin A Pierce</td>
    </tr>
    <tr>
      <td class="tg-031e">39</td>
      <td class="tg-031e">9781429210799</td>
      <td class="tg-031e">Multivariable Calculus: Early Transcendentals</td>
      <td class="tg-031e">Jon Rogawski</td>
    </tr>
    <tr>
      <td class="tg-031e">40</td>
      <td class="tg-031e">9780007224395</td>
      <td class="tg-031e">Collins Latin Dictionary and Grammar</td>
      <td class="tg-031e">Collins Dictionaries</td>
    </tr>
    <tr>
      <td class="tg-031e">41</td>
      <td class="tg-031e">9787115185556</td>
      <td class="tg-031e">Fundamentals of Database Systems</td>
      <td class="tg-031e">Ramez Elmasri Shamkant B.Navathe</td>
    </tr>
    <tr>
      <td class="tg-031e">42</td>
      <td class="tg-031e">9787564144562</td>
      <td class="tg-031e">Programming PHP</td>
      <td class="tg-031e">Kevin Tatroe^ Peter</td>
    </tr>
    <tr>
      <td class="tg-031e">43</td>
      <td class="tg-031e">9787564138943</td>
      <td class="tg-031e">Easy to understand HTML and CSS</td>
      <td class="tg-031e">Elisabeth Robson &amp; Eric Freeman</td>
    </tr>
    <tr>
      <td class="tg-031e">44</td>
      <td class="tg-031e">9780716799498</td>
      <td class="tg-031e">Organic Chemistry: Structure and Function</td>
      <td class="tg-031e">Vollhardt, K. Peter C.;Schore, Neil E.</td>
    </tr>
    <tr>
      <td class="tg-031e">45</td>
      <td class="tg-031e">9781599843322</td>
      <td class="tg-031e">Physics 1BL Lab Manual</td>
      <td class="tg-031e">UCSD Physics Department</td>
    </tr>
    <tr>
      <td class="tg-031e">46</td>
      <td class="tg-031e">9780738053080</td>
      <td class="tg-031e">BIBC 103 LAB MANUAL.</td>
      <td class="tg-031e">Coleman, Gould, Stephano.</td>
    </tr>
    <tr>
      <td class="tg-031e">47</td>
      <td class="tg-031e">9780100721098</td>
      <td class="tg-031e">Animal Behavior &amp; Communication</td>
      <td class="tg-031e">James C. Nieh</td>
    </tr>
    <tr>
      <td class="tg-031e">48</td>
      <td class="tg-031e">9780321739759</td>
      <td class="tg-031e">Campbell Biology</td>
      <td class="tg-031e">Jane Reece</td>
    </tr>
    <tr>
      <td class="tg-031e">49</td>
      <td class="tg-031e">9780500203989</td>
      <td class="tg-031e">Digital Art</td>
      <td class="tg-031e">Christiane Paul</td>
    </tr>
    <tr>
      <td class="tg-031e">50</td>
      <td class="tg-031e">9780672326660</td>
      <td class="tg-031e">Programming in C</td>
      <td class="tg-031e">Stephen G. Kochan</td>
    </tr>
    <tr>
      <td class="tg-031e">51</td>
      <td class="tg-031e">9780135008775</td>
      <td class="tg-031e">Writing Talk Paragraphs and Short Essays with Readings</td>
      <td class="tg-031e">Winkler, Anthony C.</td>
    </tr>
    <tr>
      <td class="tg-031e">52</td>
      <td class="tg-031e">262232278</td>
      <td class="tg-031e">The NewMediaReader</td>
      <td class="tg-031e">Noah Wardrip-Fruin</td>
    </tr>
    <tr>
      <td class="tg-031e">53</td>
      <td class="tg-031e">142437603</td>
      <td class="tg-031e">The Autobiography and Other Writings</td>
      <td class="tg-031e">Benjamin Franklin</td>
    </tr>
    <tr>
      <td class="tg-031e">54</td>
      <td class="tg-031e">9780521532860</td>
      <td class="tg-031e">Grammar Troublespots: A Guide for Student Writers</td>
      <td class="tg-031e">Ann Raimes</td>
    </tr>
    <tr>
      <td class="tg-031e">55</td>
      <td class="tg-031e">9781269564564</td>
      <td class="tg-031e">Microeconomics Theroy and Applications with Calculus</td>
      <td class="tg-031e">Jeffrey M. Perloff</td>
    </tr>
    <tr>
      <td class="tg-031e">56</td>
      <td class="tg-031e">9780495812203</td>
      <td class="tg-031e">Essentials of Statistics for the Behavioral Science</td>
      <td class="tg-031e">Frederick J Gravetter</td>
    </tr>
    <tr>
      <td class="tg-031e">57</td>
      <td class="tg-031e">151334811</td>
      <td class="tg-031e">Free to Choose: A Personal Statement</td>
      <td class="tg-031e">Milton Friedman, Rose Friedman</td>
    </tr>
    <tr>
      <td class="tg-031e">58</td>
      <td class="tg-031e">471508993</td>
      <td class="tg-031e">Student Workbook to accompany Introductory Statistics for Business and Economics</td>
      <td class="tg-031e">Thomas H. Wonnacott, Ronald J. Wonnacott</td>
    </tr>
    <tr>
      <td class="tg-031e">59</td>
      <td class="tg-031e">9781429231879</td>
      <td class="tg-031e">Calculus: Early Transcendentals, Multivariable:</td>
      <td class="tg-031e">Jon Rogawski</td>
    </tr>
    <tr>
      <td class="tg-031e">60</td>
      <td class="tg-031e">9781429255080</td>
      <td class="tg-031e">Student Solutions Manual for Multivariable Calculus</td>
      <td class="tg-031e">Jon Rogawski</td>
    </tr>
    <tr>
      <td class="tg-031e">61</td>
      <td class="tg-031e">9780558130619</td>
      <td class="tg-031e">Physics for Scientists and Engineers Volume 4</td>
      <td class="tg-031e">Randall D. Knight</td>
    </tr>
    <tr>
      <td class="tg-031e">62</td>
      <td class="tg-031e">9780321752918</td>
      <td class="tg-031e">Physics for Scientists and Engineers: A Strategic Approach, Vol. 1</td>
      <td class="tg-031e">Randall D. Knight</td>
    </tr>
    <tr>
      <td class="tg-031e">63</td>
      <td class="tg-031e">9780321752918</td>
      <td class="tg-031e">Physics for Scientists and Engineers: A Strategic Approach, Vol. 1</td>
      <td class="tg-031e">Randall D. Knight</td>
    </tr>
    <tr>
      <td class="tg-031e">64</td>
      <td class="tg-031e">9780131989269</td>
      <td class="tg-031e">Logic and Computer Design Fundamentals</td>
      <td class="tg-031e">M. Morris Mano</td>
    </tr>
    <tr>
      <td class="tg-031e">65</td>
      <td class="tg-031e">9780131496989</td>
      <td class="tg-031e">Introduction to Computing and Programming with Java: A Multimedia Approach</td>
      <td class="tg-031e">Mark Guzdial, Barbara Ericson</td>
    </tr>
    <tr>
      <td class="tg-031e">66</td>
      <td class="tg-031e">9780100717565</td>
      <td class="tg-031e">Basic Sentential Logic and Informal Fallacies</td>
      <td class="tg-031e">Rick Grush</td>
    </tr>
    <tr>
      <td class="tg-031e">67</td>
      <td class="tg-031e">9780716795940</td>
      <td class="tg-031e">Single Variable Calculus: Early Transcendentals Student Solutions Manual</td>
      <td class="tg-031e">Brian Bradie</td>
    </tr>
    <tr>
      <td class="tg-031e">68</td>
      <td class="tg-031e">9780312650315</td>
      <td class="tg-031e">The Easywriter: A Pocket Reference</td>
      <td class="tg-031e">Andrea A. Lunsford</td>
    </tr>
    <tr>
      <td class="tg-031e">69</td>
      <td class="tg-031e">9781563201356</td>
      <td class="tg-031e">The Story of God</td>
      <td class="tg-031e"></td>
    </tr>
    <tr>
      <td class="tg-031e">70</td>
      <td class="tg-031e">9780312647360</td>
      <td class="tg-031e">Rules for Writers</td>
      <td class="tg-031e">Diana Hacker, Nancy Sommers</td>
    </tr>
    <tr>
      <td class="tg-031e">71</td>
      <td class="tg-031e">9780143120889</td>
      <td class="tg-031e">Battle Hymn of the Tiger Mother</td>
      <td class="tg-031e">Amy Chua</td>
    </tr>
    <tr>
      <td class="tg-031e">72</td>
      <td class="tg-031e">9780262640671</td>
      <td class="tg-031e">Technology Matters: Questions to Live With</td>
      <td class="tg-031e">David E. Nye</td>
    </tr>
    <tr>
      <td class="tg-031e">73</td>
      <td class="tg-031e">140435883</td>
      <td class="tg-031e">Early American Drama</td>
      <td class="tg-031e">Jeffrey H.</td>
    </tr>
    <tr>
      <td class="tg-031e">74</td>
      <td class="tg-031e">9780807001547</td>
      <td class="tg-031e">Pornland: How Porn Has Hijacked Our Sexuality</td>
      <td class="tg-031e">Gail Dines</td>
    </tr>
    <tr>
      <td class="tg-031e">75</td>
      <td class="tg-031e">9780547572475</td>
      <td class="tg-031e">The Penultimate Truth</td>
      <td class="tg-031e">Philip K. Dick</td>
    </tr>
    <tr>
      <td class="tg-031e">76</td>
      <td class="tg-031e">385721676</td>
      <td class="tg-031e">Oryx and Crake</td>
      <td class="tg-031e">Margaret Atwood</td>
    </tr>
    <tr>
      <td class="tg-031e">77</td>
      <td class="tg-031e">9780495906261</td>
      <td class="tg-031e">The Writer's Response</td>
      <td class="tg-031e">Stephen McDonald, William Salomone</td>
    </tr>
    <tr>
      <td class="tg-031e">78</td>
      <td class="tg-031e">9780073362717</td>
      <td class="tg-031e">Study Guide to accompany Principles of Economics</td>
      <td class="tg-031e">Jack Mogab, Louis Johnston</td>
    </tr>
    <tr>
      <td class="tg-031e">79</td>
      <td class="tg-031e">9780077559229</td>
      <td class="tg-031e">Traditions &amp; Encounters</td>
      <td class="tg-031e">Jerry H.; Ziegler, Herbert F. Bentley.</td>
    </tr>
    <tr>
      <td class="tg-031e">80</td>
      <td class="tg-031e">9780100725966</td>
      <td class="tg-031e">AN NTRODUCTION TO COMBINATORIAL GAME THEORY</td>
      <td class="tg-031e">Haff</td>
    </tr>
  </table>
</div>