.rent-header {
	margin-top: 100px;
  margin-left: 20px;
}

.rent-intro {
  margin-left: 20px;
  margin-right: 20px;
}

.rent-chart {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}